<div id="login">
  <h3> Login </h3>

  <form class="ui large form" [formGroup]="loginForm">

    <div class="field">
      <sm-input icon="user" name="userId" class="left" placeholder="Username/Email" [control]="loginForm.controls.userId"></sm-input>
    </div>
    <div class="field">
      <sm-input type="password" icon="privacy" class="left" name="password" placeholder="Password" [control]="loginForm.controls.password"></sm-input>
    </div>
    <button (click)="login()" [disabled]="loginForm.invalid" class="ui positive fluid button">
      <i class="sign in icon"></i>
      Login
    </button>

  </form>

</div>