<div class="ui container">
  <div class="ui raised segment very padded centered container">

    <div class="ui centered grid">
      <div class="eight wide computer twelve wide tablet sixteen wide phone column">
        <form class="ui large form" style="width: 100%;" [formGroup]="createForm">
          <h2 class="ui dividing header">New Pool</h2>
          <div class="field">
            <sm-input icon="tags" type="text" placeholder="Title" class="left" [control]="createForm.controls.title"></sm-input>
          </div>
          <div class="field">
            <div class="ui search left icon input">
              <input class="prompt" [(ngModel)]="user" [ngModelOptions]="{standalone: true}" type="text" placeholder="{{ searchPrompt }}"/>
              <i class="add user icon"></i>
            </div>
          </div>
          <div smDeviceVisibility="mobile only" class="sixteen wide column">
            <div class="ui segment">
              <div class="ui header">Members</div>
              <sm-list>
                <sm-item *ngFor="let user of pool.members">{{user}}</sm-item>
              </sm-list>
            </div>
          </div>

          <!-- Book info -->
          <h4 class="ui dividing header">Book info</h4>
          <div class="three fields" formGroupName="book">
            <div class="field">
              <sm-input icon="book" class="left" placeholder="Title" [control]="createForm.controls.book.controls.title"></sm-input>
            </div>
            <div class="field">
              <sm-input icon="font" class="left" placeholder="Author" [control]="createForm.controls.book.controls.author"></sm-input>
            </div>
            <div class="field">
              <sm-input icon="hashtag" class="left" placeholder="Pages" type="number" [control]="createForm.controls.book.controls.pages"></sm-input>
            </div>
          </div>

          <!-- Schedule -->
          <h4 class="ui dividing header">Schedule &amp; Milestones</h4>
          <template ngFor let-stone [ngForOf]="createForm.controls.schedule.controls" let-i="index">
          <div class="field">
            <sm-input icon="header" class="left" placeholder="Heading" type="text" [control]="createForm.controls.schedule.controls[i].controls.heading"></sm-input>
          </div>
          <div class="two fields">
            <div class="field">
              <sm-input icon="sticky note" class="left" placeholder="Target #" type="number" [control]="createForm.controls.schedule.controls[i].controls.page"></sm-input>
            </div>
            <div class="field">
              <sm-input icon="calendar" class="left" placeholder="Date" type="date" [control]="createForm.controls.schedule.controls[i].controls.date"></sm-input>
            </div>
          </div>
          </template>


        </form>
      </div>
      <div smDeviceVisibility="tablet computer">
        <div class="ui segment four wide column">
          <div class="ui header">Members</div>
          <sm-list>
            <sm-item *ngFor="let user of pool.members">{{user}}</sm-item>
          </sm-list>
        </div>
      </div>
    </div>

    <!--<form (ngSubmit)="onSubmit()" #poolForm="ngForm">
      <sm-input type="text" [(model)]="pool.name" name="name" label="Name" placeholder="Name your pool" required></sm-input>
      <input type="text" placeholder="Add users" *autocompleteConfig="{
          asyncData: usernames
        }" (keydown)="addUser($event)" [(ngModel)]="user" name="user" /><br/>
      <ul>
        <li *ngFor="let m of pool.members">{{m}}</li>
      </ul>

      <h3>Book Info</h3>
      <input type="text" placeholder="Title" [(ngModel)]="pool.book.title" name="title" required/>*<br/>
      <input type="text" placeholder="Author" [(ngModel)]="pool.book.author" name="author" /><br/>
      <input type="number" placeholder="# of pages" [(ngModel)]="pool.book.pages" name="pages" required/>*<br/>

      <h3>Schedule</h3>
      <table>
        <tr>
          <td><button type="button" (click)="addStone()">+</button></td>
          <td></td>
          <td></td>
        </tr>
        <tr *ngFor="let stone of pool.schedule.stones; let i = index">
          <td><input type="text" placeholder="Heading" [(ngModel)]="pool.schedule.stones[i].heading" name="heading{{i}}" required/></td>
          <td><input type="date" [(ngModel)]="pool.schedule.stones[i].date" name="date{{i}}" required/></td>
          <td><input type="number" placeholder="Target page" [(ngModel)]="pool.schedule.stones[i].page" name="page{{i}}" required/></td>
        </tr>
      </table>
      <button type="submit" [disabled]="!poolForm.form.valid">Submit</button>
    </form>-->
  </div>
</div>