<h2>Create a new Pool!</h2>

<form (ngSubmit)="onSubmit()" #poolForm="ngForm">
<input type="text" 
        [(ngModel)]="pool.name"
        name="name" 
        placeholder="Name your pool" 
        required/>*<br/>
<input type="text"
        placeholder="Add users"
        *autocompleteConfig="{
          asyncData: usernames
        }"
        (keyup)="addUser($event)"
        [(ngModel)]="user"
        name="user"/><br/>
<ul>
  <li *ngFor="let m of pool.members">{{m}}</li>
</ul>

<h3>Book Info</h3>
<input type="text" placeholder="Title" [(ngModel)]="pool.book.title" name="title" required/>*<br/>
<input type="text" placeholder="Author" [(ngModel)]="pool.book.author" name="author"/><br/>
<input type="number" placeholder="# of pages" [(ngModel)]="pool.book.pages" name="pages" required/>*<br/>

<h3>Schedule</h3>
<table>
  <tr><td><button type="button" (click)="addStone()">+</button></td><td></td><td></td></tr>
  <tr *ngFor="let stone of pool.schedule.stones; let i = index">
    <td><input type="text" placeholder="Heading" [(ngModel)]="pool.schedule.stones[i].heading" required/></td>
    <td><input type="date" [(ngModel)]="pool.schedule.stones[i].date" name="date{{i}}" required/></td>
    <td><input type="number" placeholder="Target page" [(ngModel)]="pool.schedule.stones[i].page" name="page{{i}}" required/></td>
  </tr>
</table>
<button type="submit" [disabled]="!poolForm.form.valid">Submit</button>
</form>
  

