.column {
  max-width: 450px;
}

.grid {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #30292F;
}

h2.ui.header {
  font: normal 7em "Farsan", cursive !important;
  font-weight: 400;
  margin-top:-2em;
  a {
    color: #FFE8E9;
    &:hover {
      text-decoration: none;
    }
  }
}