$bg-dark: #30292F;
$bg-light: #F9F9F9;

$text-primary: #353535;
$text-secondary: #80AA31;
$text-light: #FFE8E9;

// $bg-dark: #FCB97D;
// $bg-light: #FFF4F4;

// $text-primary: #3D3532;
// $text-secondary: #DDC3D0;
// $text-light: #DBFCFF;