$bg-dark: #3d2c2e;
$bg-light: #FCF7F7;

$text-primary: #121619;
$text-secondary: #09964b;
$text-light: #F8F0D9;

// $bg-dark: #FCB97D;
// $bg-light: #FFF4F4;

// $text-primary: #3D3532;
// $text-secondary: #DDC3D0;
// $text-light: #DBFCFF;