<div id="signup">
  <h3>Sign up</h3>

  <form class="ui large form" [formGroup]="signupForm">

    <div class="field">
      <sm-input class="left" icon="user" placeholder="Username" name="username" [control]="signupForm.controls.username"></sm-input>
    </div>
    <div class="field">
      <sm-input class="left" type="email" icon="mail" placeholder="Email" name="email" [control]="signupForm.controls.email"></sm-input>
    </div>
    <div class="field">
      <sm-input class="left" type="password" icon="privacy" placeholder="Password" name="password" [control]="signupForm.controls.password"></sm-input>
    </div>
    <button class="ui positive fluid button" (click)="signup()" icon="book" [disabled]="signupForm.invalid">
      <i class="book icon"></i>
      Login
    </button>
  </form>

</div>