main {
  max-width: 600px;
  margin: 0 auto;
}

#header {
  height: 60px;
  border-bottom: 1px dashed black;
}

#title {
  float: left;
  font-size: 36px;
}

#title:hover {
    cursor: pointer;
    border-bottom: 1px dotted #000;
}

.nav {
  margin-top: 15px;
  float: right;
  padding-right: 10px;
}

.username {
  margin-top: 15px;
  float: right;
}

.logout {
  font-size: 8px;
  padding-bottom: 8px;
}

.logout:hover {
  cursor: pointer;
}