<header>

  <div id="header">

    <div class="ui container" id="header-wrap">

      <div id="title" (click)="router.navigate(['/'])">
        {{title}}
      </div>

      <div class="nav">
        <sm-menu *ngIf="!username" class="inverted secondary navmenu">
          <a sm-item *ngIf="!username" icon="sign in" (click)="router.navigate(['login'])">Login</a>
        </sm-menu>

        <sm-menu *ngIf="username" class="inverted secondary navmenu" smDeviceVisibility="tablet computer">
          <a sm-item icon="wizard" (click)="router.navigate(['create'])">Create</a>
          <a sm-item icon="child" (click)="router.navigate([username])">{{username}}</a>
          <a sm-item icon="remove" (click)="logout()">Logout</a>
        </sm-menu>

        <div *ngIf="username" class="ui dropdown" smDeviceVisibility="mobile only">
          <sm-dropdown class="top right pointing link" icon="align justify">
            <sm-item class="item" (click)="router.navigate(['create'])"><i class="wizard icon"></i>Create</sm-item>
            <sm-item class="item" (click)="router.navigate([username])"><i class="child icon"></i>{{username}}</sm-item>
            <sm-item class="item" (click)="logout()"><i class="remove icon"></i>Logout</sm-item>
          </sm-dropdown>
        </div>
      </div>

    </div>

  </div>

</header>

<main>
  <router-outlet></router-outlet>
</main>