@import 'shared/colors';
@import url('https://fonts.googleapis.com/css?family=Farsan|Merriweather|Open+Sans');

$content-width: 100%;

$font-title: 'Farsan', cursive;
$font-heading: 'Merriweather', serif;
$font-content: 'Open Sans', sans-serif;

header, main {
  width: $content-width;
  margin: 0 auto;
}

 /deep/ main {
  box-sizing: border-box;
  height: 100%;
  background-color: $bg-light;
  padding: 20px 5px;
  color: $text-primary;

  /deep/ h1, /deep/ h2, /deep/ h3, /deep/ h4, /deep/ h5, /deep/ h6 {
    font-family: $font-heading;
  }

  /deep/ p, /deep/ li {
    font-family: $font-content;
  }

  /deep/ a, a:visited {
    color: $text-secondary; 
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

#header {
  height: 60px;
  background-color: $bg-dark;
  color: $text-light;
}


#title {
  float: left;
  font-size: 36px;
  line-height: 1em;
  margin: 12px 0 12px 12px;
  font-family: $font-title;

  &:hover {
    cursor: pointer;
  }
}

.nav {
  margin-right: 12px;
  margin-top: 21px;
  float: right;

  font-size: 18px;
  font-family: $font-heading;

  a, a:visited {
    text-decoration: none;
    color: $text-light;
  }

  /deep/ .navmenu {
    margin-top: -0.7em;
  }
}

.logout {
  font-size: 8px;
  padding-bottom: 8px;

  &:hover {
    cursor: pointer;
  }
}

/deep/ .dropdown.icon {
  display: none;
}

/deep/ .ui.top.right.pointing.dropdown /deep/ .menu {
    margin-right: -.5em;
    margin-top: .6em;
}

@media only screen and (max-width: 767px) {
    .mobile { display: inherit !important; }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .tablet { display: inherit !important; }
}

@media only screen and (min-width: 992px) {
    .computer { display: inherit !important; }
}

@media only screen and (min-width: 768px) {
    .mobile { display: none; }
    .mobile.only { display: none !important; }
}

@media only screen and (min-width: 992px)  {
    .tablet { display: none;  }
    .tablet.only { display: none !important; }
}

@media only screen and (max-width: 767px) {
    .tablet { display: none;  }
    .tablet.only { display: none !important; }
}

@media only screen and (max-width: 992px) {
    .computer { display: none;  }
    .computer.only { display: none !important; }
}