<p>
  thread works!
</p>

<div *ngIf="threads[0]">
  <ol *ngFor="let thread of threads; let i = index;">
    <li *ngFor="let message of threads[i]; let f = first">
      {{ message.author }} said.. <br/>
      {{ message.content }}
    </li>
    <li>
      <textarea placeholder="Leave a reply" 
                [(ngModel)]="replies[i]" 
                (keydown)="submitReply($event, i)">
      </textarea>
    </li>
    <hr/>
  </ol>
</div>

<textarea [(ngModel)]="comment" 
          (keydown)="createThread($event)"
          placeholder="Create a new thread">
</textarea>
