/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Farsan|Merriweather|Open+Sans');

html, body {
  margin: 0;
  height: 100%;
  background-color: #f9f9f9;
}

#loading {
  width: 100%;
  height: 100%;
  background-color: #30292F;
  font-family: 'Farsan', cursive;
  font-size: 6em;
  color: #FFE8E9;
  text-align: center;
}

#loading #title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
}

@media only screen and (max-width: 767px) {
    .mobile { display: inherit !important; }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .tablet { display: inherit !important; }
}

@media only screen and (min-width: 992px) {
    .computer { display: inherit !important; }
}

@media only screen and (min-width: 768px) {
    .mobile { display: none; }
    .mobile.only { display: none !important; }
}

@media only screen and (min-width: 992px)  {
    .tablet { display: none;  }
    .tablet.only { display: none !important; }
}

@media only screen and (max-width: 767px) {
    .tablet { display: none;  }
    .tablet.only { display: none !important; }
}

@media only screen and (max-width: 992px) {
    .computer { display: none;  }
    .computer.only { display: none !important; }
}